#outer{
    width: 800px;
    height: 30px;
    border:2px solid rgb(0, 157, 255);
    border-radius: 10px;
    background-color: pink;
    display: flex;
    flex-direction: row;
}
#outer div{
    width: 50px;
    font-weight: bold;
}